body {
    margin: 0px auto;
    width: 75%;
    font-size: 1em; /*sets the general font size...might be better to define div.a div.b div.c separately for different font size classes*/
}
.text-justify {/*not working*/
    text-align: justify;
  }
a {
    text-decoration: none;
    color: rgb(40, 64, 200);
}
a:hover {
    text-decoration: underline;
    color: #D84C3EFF; /*#1F968BFF*/
    transform: skew(-10deg); /*does not work yet*/
    /*background-color: #e7dbdb;*/
}
/* selected link check if working*/
/*
a.active {
    color: #1F968BFF;
  }
*/
/*new copied stuff start
.navbar {
    position: fixed;
    width: 100%;
}
.navbar .nav {
   float: none;
}
.navbar .nav>li {
    width: 25%;
}
.content {
    padding-top: 80px;
}

#nav-collapse li a:hover { 
    color: blue; 
}
#nav-collapse a:hover { 

    background-color: gray; 
}

#nav-collapse  li.active { 
   color:green;
    background-color: yellow; 
}
#nav-collapse  li.active a {
    color: red;
}
new copied stuff end*/
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px 0px 10px 0px;
    list-style: none;
    font-weight: bold;
    font-size: 18px;
}

nav {
    overflow: hidden;
    background-color: #f0f0f041 ;
  }
  
nav a {
    /* float: center; */
    display: inline;
    color:  #403891FF;
    text-align: center;
    padding: 30px 10px;
    text-decoration: none;
  }

nav a:hover {
    background-color: #f0f0f08c;
    color: #D84C3EFF;
    text-decoration: none;
  }

nav a:active {
    background-color: #f0f0f067;
    color: #1F968BFF;
  }
nav .current {
    color: #1F968BFF;
    background-color: #f0f0f067;
 }
/* does not work
 nav a:visited{
     color: rgb(8, 41, 38);
 }
*/
nav .icon {
    display: none;
  }

 /* @media screen and (max-width: 600px) {
    nav a:not(:first-child) {display: none;}
    nav a.icon {
      float: right;
      display: block;
    }
  }
  
@media screen and (max-width: 600px) {
    nav.responsive {position: relative;}
    nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }

nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
} */
nav ul li {
    display: inline;
    /* margin-right: 20px; */
}
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px 0px 20px 0px;
    list-style: none;
    font-weight: bold;
}
footer ul li {
    display: inline;
    margin-right: 20px;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 2px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/*ul li {
    list-style-type: square;
}*/

img {
    /*display: block;*/
    /*width: 200px;
    height: 200px;*/
    /*border: 10px solid #ddd;*/
    /*border-radius: 75px;*/
    padding: 0px 30px 20px 0px;
}